body {
  background-color: aqua;
}

.gridprincipal {

  width: 800px; 
  height: 600px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px; 
  margin: 0 auto; 



  & .item {
    background-color: red;

    font: Arial; 
    font-size: 2rem;
    font-weight: 700;
    color: white;
    counter-increment: number 1;

    display: grid;
    place-items: start end;
    padding: 0.25rem 0.75rem;

    &:hover {
      background-color: grey;
    }

    &::after {
      content: counter(number);
    }

    &:nth-child(6) {
      background-color: blue;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2; 
      grid-row-end: 4; 
    }

  }

}
